<tr>
  <td class="text-nowrap">
    <%= l reservation.capacity.start_time, format: :short %>
  </td>
  <td class="text-nowrap">
    <%= reservation.visiting_time %>
  </td>
  <td class="text-nowrap">
    <%= reservation.name %>
  </td>
  <td class="text-nowrap">
    <%= reservation.number_of_items %>
  </td>
  <td class="text-nowrap">
    <%= reservation.reservation_status_i18n %>
  </td>
  <td class="text-nowrap">
    <%= link_to dashboard_reservation_path(reservation), class: "btn btn-info" do %>
      <i class="fas fa-search-plus"></i>詳細
    <% end%>
    <%= link_to edit_dashboard_reservation_path(reservation), class: "btn btn-success" do %>
      <i class="far fa-edit"></i>変更
    <% end%>
  </td>
</tr>