<div class="container mt-5">
  <%= link_to "マイページ", mypage_users_path %> > <%=link_to "アカウント設定" , users_path %> </div>
<div class="container d-flex justify-content-center mt-3 content">
  <div class="w-90">
    <div class="d-flex justify-content-between">
      <h2>アカウント情報の変更</h2>
      <div class="d-flex align-items-center">
        <%= link_to edit_user_registration_path do %>
          <button type="button" class="btn btn-outline-secondary ml-5">変更する</button>
        <% end %>       
      </div>
    </div>
    <hr>

    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">お名前</label>
              <p><%= current_user.name %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">メールアドレス</label>
              <p><%= current_user.email %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>


    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="row">
          <div class="col-12 d-flex align-items-center ml-2 mt-3">
            <div class="d-flex flex-column">
              <label for="user-name">電話番号</label>
              <p><%= current_user.phone %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

  </div>
</div>