<div class="container mt-5">
  <span>
    <%= link_to "マイページ", mypage_users_path %> > <%=link_to "アカウント設定" , users_path %> > <%=link_to "アカウント情報の変更"  %> 
  </span>
  <div class="row justify-content-center content">
    <div class="col-md-5">
    
      <h3 class="mt-3 mb-3">アカウント情報の変更</h3>

      <hr>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, "お名前" %><br>
          <%= f.text_field :name ,class: "text"%>
        </div>  

        <div class="field">
          <%= f.label :email,"メールアドレス"%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "text"%>
        </div>

        <div class="field">
          <%= f.label :phone,"電話番号" %><br>
          <%= f.text_field :phone ,class: "text"%>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(変更にはパスワードが必要です)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control", placeholder: "必須項目です" %>
        </div>

        <div class="form-group">
          <%= f.submit "保存する", class: "mt-3 btn btn-log" %>
        </div>
        
      <% end %>
      <div class="d-flex justify-content-end">
          <%= form_with model: @user, url: mypage_delete_users_path, method: :delete, local: true do |f| %>
          <div class="btn btn-danger" data-toggle="modal" data-target="#delete-user-confirm-modal">退会する</div>
  
            <div class="modal fade" id="delete-user-confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title" id="staticBackdropLabel"><label>本当に退会しますか？</label></h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="text-center">一度退会するとデータはすべて削除され復旧はできません。</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-danger text-white">退会する</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

